<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        link(rel="stylesheet", href="/style/dist/style.css")
    body
        .sertificat
            p Фалин Владимир
            .sertificat__images
                
                img(src="/images/01_zdczmzk5g7.png", alt="", srcset="")
                img(src="/images/photo_2020-11-27_16-09-14 (2).jpg", alt="", srcset="") 
                img(src="/images/photo_2020-11-27_16-09-17.jpg", alt="", srcset="") 
                img(src="/images/photo_2020-11-27_16-09-46.jpg", alt="", srcset="") 
                


